{% load socialaccount %}
{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Required meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>
		.navbar-nav {
			margin-left: auto;
		}
		body{background-color: antiquewhite;}
	</style>
	<title>Outwork Workout</title>
</head>
<body>
	{% include 'outwork/navbar.html' %}</br>
	<div class="container my-5">
	<div class="card my-5 border-dark " style="margin-top:30px; width:100%; background-color: white;">
<div class="card-header bg-secondary text-white">
	<h3 class="text-center" >Please register to finish creating your account</h3>
	</div>
	<div class="card-body">
		<form method="post">
			{% csrf_token %}
			<p>
				{{ register_form.dob.label_tag }} {{ register_form.dob }} <span class="text-danger">{% if register_form.dob.errors %}{{ register_form.dob.errors.0 }}{% endif %}</span><br>
				<small>{{register_form.dob.help_text}}</small>
			</p>

			<p>
				{{ register_form.bio.label_tag }} {{ register_form.bio }} <br>
				<small>{{register_form.bio.help_text}}</small>
			</p>
			<p>{{ register_form.height_feet.label_tag }} {{ register_form.height_feet }} <span class="text-danger">{% if register_form.height_feet.errors %}{{ register_form.height_feet.errors.0 }}{% endif %}</span></p>
			<p>{{ register_form.height_inches.label_tag }} {{ register_form.height_inches }} <span class="text-danger">{% if register_form.height_inches.errors %}{{ register_form.height_inches.errors.0 }}{% endif %}</span></p>
			<p>{{ register_form.weight.label_tag }} {{ register_form.weight }} <span class="text-danger">{% if register_form.weight.errors %}{{ register_form.weight.errors.0 }}{% endif %}</span></p>
			<p>
				{{ register_form.spotify_playlist_uri.label_tag }} {{ register_form.spotify_playlist_uri }} <br>
				<small>{{register_form.spotify_playlist_uri.help_text}}</small>
			</p>
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>